@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Merriweather+Sans:ital,wght@0,400;1,300&family=Noto+Sans+Display:wght@500&family=Ubuntu:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Merriweather+Sans:ital,wght@0,400;1,300&family=Noto+Sans+Display:wght@500&family=Ubuntu:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Merriweather+Sans:ital,wght@0,400;1,300&family=Noto+Sans+Display:wght@500&family=Ubuntu:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Merriweather+Sans:ital,wght@0,400;1,300&family=Noto+Sans+Display:wght@500&family=Ubuntu:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Merriweather+Sans:ital,wght@0,400;1,300&family=Noto+Sans+Display:wght@500&family=Ubuntu:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Merriweather+Sans:ital,wght@0,400;1,300&family=Noto+Sans+Display:wght@500&family=Ubuntu:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Merriweather+Sans:ital,wght@0,400;1,300&family=Noto+Sans+Display:wght@500&family=Ubuntu:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Merriweather+Sans:ital,wght@0,400;1,300&family=Noto+Sans+Display:wght@500&family=Ubuntu:ital,wght@0,500;1,500&display=swap");
.top {
  text-align: center;
  font-size: 18px;
  background-color: #292929;
  color: #ebebeb;
  border: none;
  height: 30px;
}

.navbar {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: -1px 2px 15px 4px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 2px 15px 4px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
}

.navbar li {
  font-size: 24px;
  margin-right: 70px;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: bold;
}

.navbar li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 22%;
  padding: 10px;
}

.logo h1 {
  margin-left: 25px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1.5px;
}

.login {
  font-size: 24px;
  margin-right: 30px;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: bold;
}

.cart i {
  font-size: 40px;
  margin-right: 50px;
}

@media (max-width: 900px) {
  .navbar ul {
    margin-right: 50px;
  }
  .navbar li {
    margin-right: 15px;
  }
}

@media (max-width: 750px) {
  .navbar ul, .login, .cart {
    display: none;
  }
  .logo img {
    width: 18%;
  }
  .logo h1 {
    font-size: 23px;
    margin-left: 15px;
  }
  .top {
    font-size: 15px;
    height: 25px;
  }
}

.menu-wrap {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 1;
  width: 80px;
  height: 100px;
  padding: 1rem;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #e70000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -18px;
  width: 100%;
  height: 6px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 18px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: var(--menu-speed);
          transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  width: 200vw;
  height: 300vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vw;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

/* Makes the burger only display below the certain width */
@media (min-width: 750px) {
  nav {
    visibility: hidden;
    display: none;
  }
}

.footer {
  margin-top: 250px;
  margin-bottom: 100px;
}

.container-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 700px;
}

.about h3 {
  border-bottom: solid #333;
  border-width: 6px;
}

.about span, .pages span {
  background-color: #333;
  color: #fff;
  padding: 9px 15px;
  font-family: "Noto Sans Display", sans-serif;
  letter-spacing: 3px;
}

.pages {
  margin-left: 200px;
}

.about p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Merriweather Sans", sans-serif;
}

.pages h3 {
  border-bottom: solid #333;
  border-width: 6px;
  width: 200px;
}

.pages li {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Noto Sans Display", sans-serif;
}

.socials {
  text-align: center;
  padding: 50px 0;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  max-width: 210px;
}

.socials h4 {
  font-family: "Noto Sans Display", sans-serif;
}

.socials li {
  font-size: 35px;
  padding: 0 22px;
}

.fa-instagram {
  color: #3a2424;
}

.fa-youtube {
  color: #ed3f41;
}

.fa-facebook {
  color: #3b5a9b;
}

.copyright {
  text-align: center;
  margin-bottom: 10px;
}

.copyright p {
  padding: 2px;
  font-family: "Merriweather Sans", sans-serif;
  opacity: 90%;
}

@media (max-width: 1000px) {
  .pages {
    margin-left: 30px;
  }
}

@media (max-width: 750px) {
  .socials {
    padding: 30px 0;
  }
  .socials h4 {
    font-size: 14px;
  }
  .socials li {
    font-size: 30px;
    padding: 0 20px;
  }
  .socials ul {
    max-width: 195px;
  }
  .container-one {
    width: 90%;
  }
  .copyright p {
    font-size: 12px;
  }
  .pages h3 {
    width: 130px;
    font-size: 16px;
    border-width: 8px;
  }
  .pages li {
    font-size: 15px;
  }
  .about h3 {
    font-size: 16px;
    border-width: 8px;
  }
  .about p {
    font-size: 14px;
  }
  .footer {
    margin-bottom: 50px;
  }
}

.left-side {
  width: 170px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 170px;
  padding: 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ebebeb;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 1100px;
  gap: 45px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product {
  max-width: 340px;
  background-color: #292929;
  border-radius: 10px;
  -webkit-box-shadow: -1px 2px 15px 4px rgba(56, 56, 56, 0.3);
          box-shadow: -1px 2px 15px 4px rgba(56, 56, 56, 0.3);
}

.product h3,
.specific-product h3 {
  font-size: 18px;
  margin-left: 7px;
}

.product img,
.specific-product img {
  height: 200px;
  border-top-left-radius: 10px;
}

.product span,
.specific-product span {
  font-size: 17px;
  font-weight: bolder;
  margin-left: 7px;
  letter-spacing: 1px;
}

.product button,
.specific-product button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #ebebeb;
  background-color: #e60000;
  border: transparent;
  margin-left: 7px;
  margin-bottom: 5px;
}

.header-products {
  max-width: 1100px;
  margin: auto;
  padding-left: 5px;
}

#adjust-margin h2 {
  margin-top: 100px;
}

.header-products h2 {
  margin-top: 60px;
  margin-bottom: 7px;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: black;
}

.header-products p {
  font-size: 20px;
  opacity: 90%;
  font-family: "Merriweather Sans", sans-serif;
}

.border-bottom {
  opacity: 30%;
  border-bottom: solid #333;
  border-width: 2px;
  max-width: 1050px;
  width: 80%;
  margin: 35px auto;
}

@media (max-width: 1140px) {
  .products {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    max-width: 800px;
  }
}

@media (max-width: 750px) {
  .products {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .border-bottom {
    width: 75%;
    margin: 20px auto;
  }
}

@media (max-width: 700px) {
  .header-products h2 {
    font-size: 30px;
    margin-top: 30px;
  }
  .header-products p {
    font-size: 17px;
    max-width: 200px;
    margin: auto;
  }
}

@media (max-width: 350px) {
  .product {
    max-width: 300px;
  }
  .product button {
    width: 110px;
  }
}

.hero-banner {
  max-width: 1100px;
  margin: 30px auto;
}

.hero-banner img {
  -webkit-filter: brightness(45%);
          filter: brightness(45%);
  display: block;
  border-radius: 5px;
}

.button-showcase button {
  margin-top: 10px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: white;
  background-color: #e60000;
  border: transparent;
}

.button-showcase a {
  color: #ebebeb;
}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 60%;
  left: 18%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Noto Sans Display", sans-serif;
}

.caption p {
  font-size: 25px;
  letter-spacing: 2px;
}

@media (max-width: 1100px) {
  .hero-banner img {
    border-radius: 0;
  }
}

@media (max-width: 700px) {
  .caption {
    left: 22%;
    top: 50%;
  }
  .caption p {
    font-size: 20px;
  }
  .button-showcase button {
    width: 130px;
    font-size: 14px;
  }
  .hero-banner img {
    height: 200px;
  }
}

@media (max-width: 500px) {
  .caption {
    left: 27%;
    top: 50%;
  }
  .caption p {
    font-size: 16px;
  }
  .button-showcase button {
    height: 40px;
    width: 110px;
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .caption p {
    font-size: 14px;
  }
  .button-showcase button {
    height: 35px;
    width: 100px;
    font-size: 9px;
  }
}

.button-62 {
  background: -webkit-gradient(linear, left top, right bottom, from(#fd0000), to(#FF9A5A));
  background: linear-gradient(to bottom right, #fd0000, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(255, 0, 0, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(255, 0, 0, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.featured-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -1px 2px 15px 4px rgba(56, 56, 56, 0.3);
          box-shadow: -1px 2px 15px 4px rgba(56, 56, 56, 0.3);
  border-radius: 10px;
}

.image-container {
  padding-top: 10px;
  width: 250px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.featured-details {
  background-color: #292929;
  height: auto;
  color: #ebebeb;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 270px;
}

.featured-details p,
.featured-details h4,
.featured-details h3 {
  margin: 0 10px;
}

.featured-details .first-p {
  color: #0fcc00;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 2px;
}

.featured-details h3 {
  font-size: 21px;
  margin-top: 3px;
  font-family: "Noto Sans Display", sans-serif;
}

.featured-details h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.featured-details a {
  color: whitesmoke;
  border-bottom: solid white;
  border-width: 2px;
}

.featured-details p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
}

@media (max-width: 1100px) {
  .featured-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featured-products {
    margin-bottom: 50px;
    max-width: 90%;
  }
  .image-container {
    width: 200px;
  }
  .image-container img {
    height: 250px;
    width: auto;
  }
  .header-products {
    text-align: center;
  }
}

@media (max-width: 530px) {
  .featured-products {
    display: -ms-grid;
    display: grid;
  }
  .image-container {
    width: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .featured-details {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

.searchBar {
  max-width: 1100px;
  margin: 30px auto;
}

.searchBar input {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  font-size: 17px;
  border: transparent;
  background-color: #292929;
  color: #ebebeb;
  padding-left: 10px;
  margin-left: 7px;
}

.searchBar ::-webkit-input-placeholder {
  color: #ebebeb;
}

.searchBar :-ms-input-placeholder {
  color: #ebebeb;
}

.searchBar ::-ms-input-placeholder {
  color: #ebebeb;
}

.searchBar ::placeholder {
  color: #ebebeb;
}

@media (max-width: 1100px) {
  .searchBar {
    text-align: center;
  }
}

.specific-product {
  background-color: #292929;
  border-radius: 10px;
  margin-top: 70px;
}

.specific-products {
  max-width: 900px;
  margin: auto;
}

.left-side-v2 {
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left-side-v2 img {
  width: 100%;
  height: auto;
}

.right-side-v2 {
  color: #ebebeb;
  margin: 0 20px;
  width: 50%;
}

.right-side-v2 h3 {
  margin-top: 10px;
  font-size: 30px;
  padding-bottom: 20px;
}

.right-side-v2 span {
  font-size: 28px;
}

.right-side-v2 p {
  margin-top: 20px;
  margin-left: 5px;
}

.right-side-v2 ul {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: bold;
}

.right-side-v2 button {
  margin-top: 40px;
  font-size: 20px;
  height: 60px;
  width: 200px;
  margin-bottom: 20px;
}

.specific-product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#eaeaea), color-stop(#d6d6d6), color-stop(#c2c2c2), color-stop(#aeaeae), color-stop(#aeaeae), color-stop(#aeaeae), color-stop(#aeaeae), color-stop(#c2c2c2), color-stop(#d6d6d6), color-stop(#eaeaea), to(#ffffff));
  background-image: linear-gradient(to right, #ffffff, #eaeaea, #d6d6d6, #c2c2c2, #aeaeae, #aeaeae, #aeaeae, #aeaeae, #c2c2c2, #d6d6d6, #eaeaea, #ffffff);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

.current {
  border-bottom: solid black;
}
/*# sourceMappingURL=style.css.map */