@import "../variables";


.specific-product {
    margin-top: 70px;
}


.specific-products {
    max-width: 900px;
    margin: auto;
}

.left-side-v2 {
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-side-v2 img {
    width: 100%;
    height: auto;
}

.right-side-v2 {
    color: $color-white;
    margin: 0 20px;
    width: 50%;
    background-color: #292929;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.right-side-v2 h3 {
    margin-top: 10px;
    font-size: 30px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.right-side-v2 span {
    font-size: 28px;
    margin-left: 10px;
}

.right-side-v2 p {
    margin-top: 20px;
    margin-left: 10px;
}

.right-side-v2 ul {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.right-side-v2 button {
    margin-top: 40px;
    font-size: 20px;
    height: 60px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.specific-product-card {
    display: flex;
}


@media (max-width:900px) {
    
    .specific-products {
        max-width: 90%;
    }
}

@media (max-width:700px) {

    .specific-product-card {
        flex-wrap: wrap;
    }

    .right-side-v2 {
        width: auto;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}