
.hero-banner {
    max-width: 1100px;
    margin: auto;
}

.hero-banner img {
    filter: grayscale(80%);
    max-height: 450px;
}


.centered {
    position: absolute;
    top: 23%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.centered h2 {
    margin-bottom: 20px;
}

.button-showcase button {
    height: 60px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: white;
    background-color: #2fd8e4;
    border: transparent;
}